@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.bg-gradiant {
		@apply bg-gradient-to-r from-indigo-500 via-indigo-500 to-violet-500;
	}
	.texts-gradiant {
		@apply bg-gradient-to-r from-violet-600 to-indigo-600 bg-clip-text text-transparent;
	}
}

p {
	@apply my-2;
}
span {
	@apply font-bold;
}
